<ion-content>

  <div class="container">

    <div class="header">
      <div class="title">
        <img src="assets\crc-logo-menu-retina-white.png">
      </div>
      <h3>Reset Password</h3>
      <p>Enter the required details down below.</p>
    </div>

    <div class="body">

      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Username" ></ion-input>
        </ion-item>


        <ion-item>
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-label position="floating" style="color: lightgrey; font-size: 15pt;">Date of Birth: MM/DD/YYYY</ion-label>
          <ion-datetime style="color: lightgrey; " displayFormat="MM/DD/YYYY" min="1800-03-14" max="2020/12/31" value="2002-09-23T15:03:46.789" ></ion-datetime>
        </ion-item>

        <ion-item style="display: none;" id="OTP">
          <ion-icon slot="start" name="key"></ion-icon>
          <ion-input placeholder="OTP"  ></ion-input>
        </ion-item>
       
      </ion-list>

  <ion-button type="button" (click)='reset()'>Reset</ion-button>
  <ion-button type="button" >Cancel</ion-button>
      
      
    </div>

    

  </div>

</ion-content>