<nb-layout>

  <!-- nav bar start -->
  <!-- <nb-layout-header fixed>
    <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
    <div class="header-container">
    <nb-actions size="medium"  >
       <nb-action icon="email-outline"

                 title="Invitations"
                 link="/ViewInvitation"
                 >
      </nb-action>
      <nb-action icon="message-circle-outline"
                 title="Announcements"
                 link="/ViewAnnouncement">
      </nb-action>
      <nb-action id="user">
        <nb-user name="{{Person.Name}} {{Person.Surname}}" ></nb-user>
      </nb-action>
      <nb-action>
          <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
      </nb-action>
     </nb-actions>
    </div>


  </nb-layout-header> -->

  <!-- <nb-sidebar state="compacted">
          <nb-menu [items]="items"></nb-menu>
  </nb-sidebar> -->

  <!-- nav bar end -->
  <nb-layout-column class="colored-column-basic">
    <nb-card>
      <nb-card-header>Reset Password
        <a href="http://localhost:8080/ResetPassword.html"><nb-icon style="float: right; color: white; font-size: x-large;" nbTooltip="Help" nbTooltipPlacement="top" icon="question-mark-circle-outline"></nb-icon></a>

      </nb-card-header>
      <nb-card-body>
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
              <img src="assets/CRC(No Background).png" alt="CRC Logo" class="avatar">
            </div>
        <div id="maindiv" style="width:30%;">
          <div float= "center">
          <form [formGroup]="withoutOTP" (ngSubmit)="callOTP(withoutOTP.value)">

         <label>Username</label><br><input type="text" nbInput #Username   placeholder="Username"><br><br>
            <label>Date of Birth</label><br><input type="date" style=" width: 245px" nbInput #Birthday  placeholder="Birthday"><br><br>
          </form>
<p style="color: red;">{{errorMessage}}</p>
            <div  id="OTP" style="display: none;"><label>OTP</label><br><input type="text" nbInput #OTP   placeholder="OTP"><br><br>
            </div>
            <div  id="NewPassword" style="display: none;"><label>New Password </label><br><input type="password" nbInput #Password  placeholder="New Password">
            </div>
          </div>
        </div>
      
      </nb-card-body>
      <nb-card-footer>
      <div class="logindiv"><button nbButton status="basic" type="submit" (click)="callOTP(Username.value,  Birthday.value )">Submit</button></div>
        <div class="logindiv" id="Confirm" style="display: none;"><button nbButton status="basic" (click)="reset(OTP.value,  Password.value )" >Confirm New Password</button>
           </div>
          <br>
          <br>
        </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>

  <!--<div class="form-popup" id="myForm">
      <form action="/action_page.php" class="form-container">
        <h1>New Password</h1>

        <label for="email"><b>New Password</b></label>
        <input type="password" placeholder="New Password" name="email" required nbInput>

        <label for="psw"><b>Confirm New Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required nbInput>

        <button class="btn" nbButton status="success" (click)="openOTP()" (click)="callOTP(thisPerson)" type="submit">Reset</button>
        <button type="button" class="btn cancel" nbButton status="danger" (click)="closeForm()">Close</button>
      </form>
    </div>-->





  <router-outlet></router-outlet>
