<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>  
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>
  </ion-toolbar><br>
  <ion-toolbar>
    <ion-title slot="start" size="medium" color="primary">Weekly Goals</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Zone Homecell Attendance</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Overseer</ion-label>
            <ion-select placeholder="Select Overseer">
              <ion-select-option>Lali</ion-select-option>
              <ion-select-option>Intercession</ion-select-option>
              <ion-select-option>Street Ministry</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Leaders</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Members</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Visitors</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>

            <ion-label>First time Visitors</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Salvations</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea clearOnEdit="true"></ion-textarea>
          </ion-item>
        </ion-list><br>
        <ion-button expand="block" color="primary">Update</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Zone Church Attendance</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Overseer</ion-label>
            <ion-select placeholder="Select Overseer">
              <ion-select-option>Lali</ion-select-option>
              <ion-select-option>Intercession</ion-select-option>
              <ion-select-option>Street Ministry</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Leaders</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Members</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Visitors</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>

            <ion-label>First time Visitors</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Salvations</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-list><br>
        <ion-button expand="block" color="primary">Update</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Homecell Attendance</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Overseer</ion-label>
            <ion-select placeholder="Select Overseer">
              <ion-select-option>Lali</ion-select-option>
              <ion-select-option>Intercession</ion-select-option>
              <ion-select-option>Street Ministry</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Leaders</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Members</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Visitors</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>

            <ion-label>First time Visitors</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Salvations</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea clearOnEdit="true"></ion-textarea>
          </ion-item>
        </ion-list><br>
        <ion-button expand="block" color="primary">Update</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Church Attendance</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Overseer</ion-label>
            <ion-select placeholder="Select Overseer">
              <ion-select-option>Lali</ion-select-option>
              <ion-select-option>Intercession</ion-select-option>
              <ion-select-option>Street Ministry</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Leaders</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Members</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Visitors</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>

            <ion-label>First time Visitors</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Salvations</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea clearOnEdit="true"></ion-textarea>
          </ion-item>
        </ion-list><br>
        <ion-button expand="block" color="primary">Update</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>New Member Orientation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Overseer</ion-label>
            <ion-select placeholder="Select Overseer">
              <ion-select-option>Lali</ion-select-option>
              <ion-select-option>Intercession</ion-select-option>
              <ion-select-option>Street Ministry</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Monthly Total</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
         
        </ion-list><br>
        <ion-button expand="block" color="primary">Update</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Discipleship</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Overseer</ion-label>
            <ion-select placeholder="Select Overseer">
              <ion-select-option>Lali</ion-select-option>
              <ion-select-option>Intercession</ion-select-option>
              <ion-select-option>Street Ministry</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Attendance</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea clearOnEdit="true"></ion-textarea>
          </ion-item>
        </ion-list><br>
        <ion-button expand="block" color="primary">Update</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Zone Growth</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Overseer</ion-label>
            <ion-select placeholder="Select Overseer">
              <ion-select-option>Lali</ion-select-option>
              <ion-select-option>Intercession</ion-select-option>
              <ion-select-option>Street Ministry</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Members</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea clearOnEdit="true"></ion-textarea>
          </ion-item>
        </ion-list><br>
        <ion-button expand="block" color="primary">Update</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Structure growth</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Overseer</ion-label>
            <ion-select placeholder="Select Overseer">
              <ion-select-option>Lali</ion-select-option>
              <ion-select-option>Intercession</ion-select-option>
              <ion-select-option>Street Ministry</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Members</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea clearOnEdit="true"></ion-textarea>
          </ion-item>
        </ion-list><br>
        <ion-button expand="block" color="primary">Update</ion-button>
      </ion-card-content>
    </ion-card>

  </ion-content>


