<ion-content>

  <div class="container">

    <div class="header">
      <div class="title">
        <img src="assets\crc-logo-menu-retina-white.png">
      </div>
      <h3>Request to deactivate</h3>
      <p>Enter the required details down below.</p>
    </div>

    <div class="body">

      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Username" ></ion-input>
        </ion-item>


        <ion-item>
          <ion-icon slot="start" name="key"></ion-icon>
          <ion-input type="password" placeholder="Password" ></ion-input>
        </ion-item>
       
      </ion-list>
      
    </div>
   
    <div> <ion-button type="button" >Cancel</ion-button><ion-button type="button" >Deactivate</ion-button>
    </div>

  </div>

</ion-content>