<nb-layout class="agtergrond">
    
 
      <nb-layout-column class="colored-column-basic">
  
<form [formGroup]="registerMember" (ngSubmit)="onSubmitPerson(registerMember.value)">
    
        <nb-layout-column class="colored-column-basic">
          
      <!-- Content on page START -->
      <nb-card>    
        <nb-card-header style="background-color:#252547;" >      
            <div style="align-content: center;">
                <h3 style=" text-align: center;">Register to become a member
                    <a href="http://localhost:8080/Register.html"><nb-icon style="float: right; color: white; font-size: x-large;" nbTooltip="Help" nbTooltipPlacement="top" icon="question-mark-circle-outline"></nb-icon></a>
</h3>
                </div>
        </nb-card-header> 
        <nb-card-body>
            <nb-stepper orientation="vertical" disableStepNavigation>
               
                    <nb-step label="Personal Information">
                        <div style="margin-left: 200px ;">          
                            <p style="background-color: teal; color: white; text-align: center; " >Tell us about yourself</p>
                            <div>
                                <input type="text" nbInput shape="rectangle" id="Name" name="Name" placeholder="Name" class="form-control" formControlName="Name">
                            </div>
                            <b><div *ngIf="registerMember.controls['Name'].invalid && (registerMember.controls['Name'].dirty || registerMember.controls['Name'].touched)" class="alert alert-danger">
                              <div *ngIf="registerMember.controls['Name'].errors.required" style="color: red; ">
                              **Name is required.
                            </div>
                          </div></b>
                          <br> 
                                <input type="text" nbInput shape="rectangle" name="Surname" placeholder="Surname" class="form-control" formControlName="Surname">
                                <b><div *ngIf="registerMember.controls['Surname'].invalid && (registerMember.controls['Surname'].dirty || registerMember.controls['Surname'].touched)" class="alert alert-danger">
                                    <div *ngIf="registerMember.controls['Surname'].errors.required" style="color: red; ">
                                    **Surname is required.
                                  </div>
                                </div></b>
                                <br><br>  
                                <label>Date of Birth</label>
                                <br>
                                <input type="date" nbInput name="DateOfBirth"   placeholder="Date of Birth" shape="rectangle" class="form-control" formControlName="DateOfBirth">
                                <b><div *ngIf="registerMember.controls['DateOfBirth'].invalid && (registerMember.controls['DateOfBirth'].dirty || registerMember.controls['DateOfBirth'].touched)" class="alert alert-danger">
                                    <div *ngIf="registerMember.controls['DateOfBirth'].errors.required" style="color: red; ">
                                    **Date of Birth is required.
                                  </div>
                                </div></b><br><br>
                
                                <p style="background-color: teal; color: white; text-align: center;">We would like to come and visit you</p>
                                <textarea nbInput fullWidth placeholder="Residential Address" name="Address" style="height: 100px;" class="form-control" formControlName="Address"></textarea>
                                <b><div *ngIf="registerMember.controls['Address'].invalid && (registerMember.controls['Address'].dirty || registerMember.controls['Address'].touched)" class="alert alert-danger">
                                    <div *ngIf="registerMember.controls['Address'].errors.required" style="color: red; ">
                                    **<Address></Address> is required.
                                  </div>
                                </div></b><br><br>
                                <input type="text" nbInput shape="rectangle" class="form-control" formControlName="City" name="City" placeholder="City">
                                <b><div *ngIf="registerMember.controls['City'].invalid && (registerMember.controls['City'].dirty || registerMember.controls['City'].touched)" class="alert alert-danger">
                                    <div *ngIf="registerMember.controls['City'].errors.required" style="color: red; ">
                                    **City is required.
                                  </div>
                                </div></b>
                                <input type="text" nbInput shape="rectangle" class="form-control" formControlName="Suburb" name="Suburb" placeholder="Suburb" style="float: right;">
                                <b><div *ngIf="registerMember.controls['Suburb'].invalid && (registerMember.controls['Suburb'].dirty || registerMember.controls['Suburb'].touched)" class="alert alert-danger">
                                    <div *ngIf="registerMember.controls['Suburb'].errors.required" style="color: red; float: right; ">
                                    **Suburb is required.
                                  </div>
                                </div></b>
                                <br><br>
                                <p style="background-color: teal; color: white; text-align: center;">How can we contact you?</p>
                  
                                <input type="text" nbInput shape="rectangle" placeholder="Cellphone" class="form-control" formControlName="Number" >
                                <b><div *ngIf="registerMember.controls['Number'].invalid && (registerMember.controls['Number'].dirty || registerMember.controls['Number'].touched)" class="alert alert-danger">
                                    <div *ngIf="registerMember.controls['Number'].errors.required" style="color: red; ">
                                    **Number is required.
                                  </div>
                                </div></b>
                                <input type="text" nbInput shape="rectangle" placeholder="E-mail" style="float: right;" class="form-control" formControlName="Email">
                                <b><div *ngIf="registerMember.controls['Email'].invalid && (registerMember.controls['Email'].dirty || registerMember.controls['Email'].touched)" class="alert alert-danger">
                                    <div *ngIf="registerMember.controls['Email'].errors.required" style="color: red; float: right; ">
                                    **Email is required.
                                  </div>
                                </div></b>
                            </div><br><br>          
              
                            <div style="float: right">
                                <button class="prev-button" type="button" nbButton nbStepperPrevious style="margin-right: 5px;">prev</button>
                                <button class="next-button" type="button" nbButton nbStepperNext>next</button>
                            </div>
                    </nb-step>
      
                    <nb-step label="Login Details">
                        <p style="background-color: teal; color: white;">Please provide the details that you want to log in with.</p>
                        <input type="text" nbInput fullWidth  placeholder="Username" required class="form-control" formControlName="Username">
                        <b><div *ngIf="registerMember.controls['Username'].invalid && (registerMember.controls['Username'].dirty || registerMember.controls['Username'].touched)" class="alert alert-danger">
                            <div *ngIf="registerMember.controls['Username'].errors.required" style="color: red; ">
                            **Username is required.
                          </div>
                        </div></b>
                        <br><br>
                        <input type="password" nbInput fullWidth  placeholder="Password" class="form-control" formControlName="Password" required>
                        <b><div *ngIf="registerMember.controls['Password'].invalid && (registerMember.controls['Password'].dirty || registerMember.controls['Password'].touched)" class="alert alert-danger">
                            <div *ngIf="registerMember.controls['Password'].errors.required" style="color: red; ">
                            **Password is required.
                          </div>
                        </div></b>
                        <br><br>
                        <div style="float: right;">
                            <button class="prev-button" type="button" nbButton nbStepperPrevious style="margin-right:5px">prev</button>
                            <button class="next-button" type="button" nbButton nbStepperNext>next</button>
                        </div>                
                    </nb-step>
                
      
                <!-- <form [formGroup]="childForm">
                    <nb-step label="Children's Details">
                        <div style="margin-left: 200px ;">
                            <button nbButton  (click)="ViewChildren()">Do you have children?</button>
                        </div>  
                        <div style="margin-left: 200px ;" id="ChildDiv" style="display: none;">                  
                            <p style="background-color: teal; color: white;">Please provide us with your children's details. Complete all the required fields
                            </p> 
                            <br>
                            <p></p>
                            <br>                 
                      
                            <input type="text" placeholder="Child Name"  style="margin-right: 150px;" fullWidth required nbInput id="name" >
                            <br><br>
          
                            <input type="text" placeholder="Child Surname"  style="margin-right: 150px;" fullWidth nbInput required id="surname" >
                            <br><br>
          
                            <label >Date of Birth:</label>  
                            <br>
                            <input type="date" placeholder="Date of Birth"  style="margin-right: 150px;" fullWidth nbInput required id=dob >
                            <br><br>     
                            <nb-footer>
                                <button nbButton status="basic" type="submit" id="addchild ">Add Child</button>
                                <button nbButton status="basic"  style="float: right;">Cancel</button><br><br>
                            </nb-footer>
          
                            <table fullWidth>
                    <thead style="text-align: center;">Children Added</thead>
                    <tr>
                      <th>ID</th>
                      <th>Child Name</th>
                      <th>Child Surname</th>
                      <th>Date of Birth</th>
                      
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Chanel</td>
                      <td>de Wet </td>
                      <td>13/12/2001</td>
                      
          
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Hennie</td>
                      <td>du Preez </td>
                      <td>13/12/1960</td>
                    </tr>
                            </table>         
                        </div>
                        <div style="float: right">
                            <button class="prev-button" nbButton nbStepperPrevious style="margin-right: 5px;">prev</button>
                            <button class="next-button" nbButton nbStepperNext>next</button>
                        </div>
                    </nb-step>
                </form> -->
      
                <nb-step label="Done">
                    <ng-template><i class="paper-plane-outline"></i></ng-template>
                    <!--<div>
                        <p>If you have children, register your children here for Kids Church.</p>
                        <br>
                        <button class="btn btn-button" nbButton type="button" routerLink="/AddChild">Add Child</button>
                    </div>-->
                    <div style="text-align: center;">
                        <h1>All done! <br> We received your information.</h1>
                        <hr>
                        <h3>Your request to register has been sent!</h3>
                        <p>You will have access to the system when your request has been confirmed!
                        </p>
                  
                    </div>
                    <button class="next-button" type="submit" [disabled]="!registerMember.valid" nbButton nbStepperNext style="float: right;" >Done</button>
                </nb-step>
           
            </nb-stepper>       
       
        </nb-card-body>
      </nb-card>
      
        
      <label>*All information will be treated as confidential.</label>
      
      <!-- Content on page END -->
        </nb-layout-column>
    </form>
</nb-layout-column>
      </nb-layout>
    
      
      <router-outlet></router-outlet>
    
    
    